@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex; /* Put flex container on the entire body to begin with */
    flex-direction: column; /* Align flex items vertically */
    align-items: center; /* Center in middle of cross axis */ 

    font-family: Roboto, sans-serif; /* Apply font styling to entire page */

    /* Remove the default padding and margin */
    margin: 0px;
    padding: 0px;

    height: 100vh;
}

ul {
    list-style: none; /* Remove bullet points */
}

a {
    text-decoration: none; /* Remove underlining */
    color: inherit; /* Force links to inherit color from div as this is not done by default */
}

.header {
    display: flex; /* Flex container that will contain Header Logo and Links */
    justify-content: space-around; /* Distribute items evenly, with half sized space on each side */
    align-items: center; /* Center in middle of cross axis */ 

    background-color: #1F2937;
    width: 100%; /* Make it so background of header expands to entire page */
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top-links {
    display: flex; /* Flex container that will contain the header links */
    gap: 20px; /* Spread out header links */

    font-size: 18px;
    color: #E5E7EB;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    justify-content: space-around;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.action-container {
    display: flex;
}

/* 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin:0;
    padding:0;
    min-height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;   
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    width: 100%;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
    color: #F9FAF8;
    height: 60px;
}

.top-links {
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.introduction {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
    max-width: 300px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    width: 90px;
    height: 25px;
} */
