* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.header, .hero-container {
    background-color: #1F2937;
    padding: 25px 500px;
}

.info-container, .action-wrapper {
    padding: 0px 500px 100px 500px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 0px 500px 100px 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAf8;
}

.header-links {
    display: flex;
    justify-content: space-between;

    list-style: none;
    font-size: 18px;
    color: #E5E7EB;

    gap: 20px;
    padding: 0px;
    margin: 0px;
}

.hero-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 450px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.hero-left p {
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero-left button {
    width: 125px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 10px;
    border: 0;
}

.hero-container img {
    display: inline-block;
    min-width: 100%;
}

.image-factfile img{
    border: 5px solid rgb(51, 68, 214);
    border-radius: 8px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-container h2 {
    padding: 50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-box-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.image-factfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 20px;
}

.quote-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
}

.quotee {
    align-self: flex-end;
    font-weight: 900;
    font-size: 18px;
}

.action-wrapper {
    padding-top: 100px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;

    gap: 100px;
    padding: 50px;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAf8;
    border: none;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 5px 20px;
    font-weight: 900;
}

.footer {
    padding: 25px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}